/* ---------------------------------------------------@FONT-FACE POUR L'IMPLENTATION DES POLICES--------------------------------------------------- */
@font-face {
  font-family: "Poppins Bold";
  src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"), url("../fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins Italic";
  src: url("../fonts/poppins-italic-webfont.woff2") format("woff2"), url("../fonts/poppins-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppin Medium";
  src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"), url("../fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins Regular";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"), url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMono Bold";
  src: url("../fonts/spacemono-bold-webfont.woff2") format("woff2"), url("../fonts/spacemono-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMono Bold Italic";
  src: url("../fonts/spacemono-bolditalic-webfont.woff2") format("woff2"), url("../fonts/spacemono-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMono Italic";
  src: url("../fonts/spacemono-italic-webfont.woff2") format("woff2"), url("../fonts/spacemono-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMono Regular";
  src: url("../fonts/spacemono-regular-webfont.woff2") format("woff2"), url("../fonts/spacemono-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* ------------------------------------------------------KEYFRAMES------------------------------------------------------ */
@keyframes AnimationVersBas {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes AnimationVersHaut {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes AnimationLogo {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* ------------------------------------------------------CSS DU <BODY>------------------------------------------------------ */
body {
  background: #fff;
  margin: 0 auto;
  max-width: 1440px;
  font-family: SpaceMono Regular, sans-serif;
}

h2 {
  font-family: SpaceMono Regular, sans-serif;
  font-size: 60px;
  font-style: italic;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 55px;
}
@media screen and (max-width: 430px) {
  h2 {
    font-size: 50px;
  }
}

h3 {
  font-family: SpaceMono Regular, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-align: left;
}

p {
  margin-bottom: 15 px;
  font-family: SpaceMono Regular, sans-serif;
  font-size: 14px;
}

/* ------------------------------------------------------CSS DU HEADER------------------------------------------------------ */
header {
  padding-inline: 145px;
  height: 80px;
  display: flex;
  align-items: center;
  background: #FFF;
  box-shadow: 0px 4px 14px 10px rgba(173, 46, 46, 0.031372549);
  /* Barre de navigation */
}
header .siteNavigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}
header .siteNavigation .logo img {
  width: 215px;
  height: 15px;
}
header .siteNavigation .burgerMenu {
  display: none;
}
header .siteNavigation .navigation {
  display: flex;
  align-items: center;
}
header .siteNavigation .navigation .menuNavigation {
  list-style-type: none;
  display: flex;
  gap: 30px;
}
header .siteNavigation .navigation .menuNavigation li {
  font-size: 16px;
  text-transform: uppercase;
}
header .siteNavigation .navigation .menuNavigation li a {
  color: #000;
  text-decoration: none;
}
header .siteNavigation .navigation .menuNavigation li a:hover {
  font-weight: 700;
}

@media screen and (max-width: 465px) {
  header {
    padding-inline: 16px;
  }
  header.open {
    position: relative;
    z-index: 2;
    animation: openNav 0.7s ease-in-out 0s forwards;
    -webkit-animation: openNav 0.7s ease-in-out 0s forwards;
  }
  @keyframes openNav {
    0% {
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  header .siteNavigation .burgerMenu {
    width: 30px;
    height: 20px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  header .siteNavigation .burgerMenu .bar {
    width: 100%;
    height: 4px;
    background-color: black;
    transition: transform 0.3s ease-in-out;
  }
  header .siteNavigation .burgerMenu.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  header .siteNavigation .burgerMenu.open .bar:nth-child(2) {
    opacity: 0;
  }
  header .siteNavigation .burgerMenu.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  header .siteNavigation .navigation {
    display: none !important;
  }
  header .siteNavigation .navigation.open {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: -16px;
    right: 0;
    background-color: #E00000;
    width: 100vw;
    height: 100vh;
  }
  header .siteNavigation .navigation .menuNavigation {
    flex-direction: column;
    gap: 18px;
    height: 600px;
    justify-content: center;
    align-items: center;
    padding-inline: 0;
  }
  header .siteNavigation .navigation .menuNavigation li {
    font-size: 45px !important;
  }
  header .siteNavigation .navigation .menuNavigation li a {
    color: #FFF !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 960px) {
  header {
    padding-inline: 55px;
  }
}
/*  ------------------------------------------------------CSS DU FOOTER------------------------------------------------------ */
.my-footer-menu {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  padding-top: 1%;
  gap: 8%;
  list-style: none;
  font-family: SpaceMono Regular;
}

.my-footer-menu a {
  text-decoration: none;
  color: #000;
}

@media (max-width: 770px) {
  .my-footer-menu {
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 60px 0;
  }
}
/* ------------------------------------------------------CSS DE LA MODALE------------------------------------------------------ */
#contact {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 998;
}

.contact-box {
  position: relative;
  max-width: 597px;
  background: white;
  border: 5px solid #000000;
  display: flex;
  padding: 18px 0 36px 0;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  z-index: 2;
}

.contact-box form {
  width: 263px;
  font-family: Poppins Regular;
  padding-top: 50px;
}

.contact-box p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
}

.contact-box label {
  font-family: Poppins Regular;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 2px;
}

.contact-box input, .contact-box textarea {
  width: 100%;
  height: 40px;
  border: 1px solid #B8BBC2;
  border-radius: 8px;
}

.contact-box textarea {
  min-height: 210px;
  resize: vertical;
}

.submit-btn:hover {
  color: white;
  background: #000000 !important;
}

.wpcf7-submit {
  display: inline-block;
  height: 50px !important;
  background: #D8D8D8;
  border-radius: 0 !important;
  font-family: SpaceMono Regular;
}

/* ------------------------------------------------------CSS DE LA PAGE "FRONT-PAGE.PHP"------------------------------------------------------ */
/* ----------- Hero header ----------- */
.hero-header {
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 770px) {
  .hero-header {
    height: 250px;
  }
}
.hero-header img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 3px;
  animation: AnimationVersBas 2s;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 10%;
  font-family: space_mono_italic, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 96px;
  line-height: 142px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 3px #ffffff;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  animation: AnimationVersHaut 2s;
}

@media screen and (max-width: 770px) {
  h1 {
    -webkit-text-stroke: 1px #ffffff;
  }
}
@media screen and (max-width: 770px) and (max-width: 429px) {
  h1 {
    font-size: 50px;
    line-height: 50px;
  }
}
/* ----------- Filtres ----------- */
#filtrePhoto {
  font-family: Poppins Regular !important;
  padding-top: 50px;
  width: 1140px;
  height: 43px;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  gap: 30px;
}
#filtrePhoto :last-child {
  margin-left: auto;
}
@media screen and (max-width: 1100px) {
  #filtrePhoto :last-child {
    margin-left: 0;
  }
}
@media screen and (max-width: 1099px) {
  #filtrePhoto {
    width: 260px;
    justify-content: center;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 30px;
    gap: 10px;
  }
}

.custom-select {
  width: 260px;
  height: 43px;
  border: 1.3px solid #B8BBC2;
  border-radius: 8px;
  background-color: transparent;
}
@media screen and (min-width: 770px) and (max-width: 1140px) {
  .custom-select {
    width: 145px;
  }
}
@media screen and (max-width: 770px) {
  .custom-select {
    width: 100px;
    padding: 0px;
    height: 30px;
  }
}

/* Select2 */
.select2-container .select2-selection--single {
  width: 260px !important;
  height: 42px !important;
  border-radius: 8px !important;
  border: 1.3px solid #B8BBC2 !important;
  padding: 7px 18px 11px 7px !important;
}

.select2-dropdown.select2-dropdown--below {
  width: 260px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  content: url(../images/arrow.svg);
  width: 15px !important;
  height: 15px !important;
  padding: 13px 22px 7px 7px !important;
  top: 1px;
  left: 215px;
}

.select2-container--default .select2-results__option {
  font-family: Poppins Regular !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  font-family: Poppins Regular !important;
  background-color: transparent !important;
  color: #000 !important;
}

.select2-container--default .select2-results__option:hover {
  font-family: Poppins Regular !important;
  background-color: #FE5858 !important;
  color: white !important;
}

.select2-container--default .select2-results__option:first-child {
  font-family: Poppins Regular !important;
  background-color: #FFD6D6 !important;
  color: #000 !important;
}

.select2-container--default .select2-results__option:not(:first-child)[aria-selected=true] {
  font-family: Poppins Regular !important;
  background-color: #E00000 !important;
  color: #fff !important;
}

/* ----------- Block Catalogue ----------- */
.blockCatalogue {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  margin-top: 43px;
  gap: 10px;
}

#plusDImage {
  display: block;
  position: relative;
  width: 270px;
  height: 50px;
  line-height: 100%;
  background-color: #D8D8D8;
  font-family: SpaceMono Regular;
  font-weight: 400;
  font-size: 12px;
  border-radius: 2px;
  border: none;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
#plusDImage:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

#blockPusdImage {
  width: 100%;
}

/* ------------------------------------------------------CSS DE LA PAGE "SINGLE-PHOTO.PHP"------------------------------------------------------ */
.cataloguePhotos {
  display: flex;
  flex-direction: column;
  padding-top: 76px;
  max-width: 80%;
  margin: auto;
}

@media screen and (max-width: 765px) {
  .cataloguePhotos {
    max-width: 375px;
    padding-top: 25px;
  }
}
.galleryPhotos {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

@media screen and (max-width: 820px) {
  .galleryPhotos {
    height: 100%;
  }
}
.detailPhoto {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 765px) {
  .detailPhoto {
    flex-direction: column;
  }
}
.detailPhoto .containerPhoto {
  -o-object-fit: contain;
     object-fit: contain;
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 820px) {
  .detailPhoto .containerPhoto {
    width: 100%;
    height: 100%;
  }
}
.detailPhoto img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.selecteurK {
  width: 50%;
  text-align: left;
  padding-bottom: 40px;
  font-family: SpaceMono Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 800px) {
  .selecteurK {
    width: 100%;
  }
}
.taxonomies {
  display: flex;
  flex-direction: column;
}

.containerContact {
  width: 100%;
  height: 118px;
  align-items: center;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 820px) {
  .containerContact {
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
  }
  .containerContact p {
    font-family: Poppins Regular;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    width: 263px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.containerContact .contact_photo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

@media screen and (max-width: 820px) {
  .containerContact .contact_photo {
    flex-direction: column;
  }
}
.interesser {
  font-family: "Poppins Regular";
  font-weight: 300;
  font-size: 14px;
}

#boutonContact {
  width: 272px;
  height: 50px;
  line-height: 100%;
  background-color: #D8D8D8;
  font-family: SpaceMono Regular;
  font-weight: 400;
  font-size: 12px;
  border-radius: 2px;
  border: none;
}

@media screen and (max-width: 820px) {
  #boutonContact {
    width: 263px;
    font-size: 14px;
  }
}
#boutonContact:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.titreVousAimerezAussi {
  width: 80%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
}

@media screen and (max-width: 1140px) {
  .titreVousAimerezAussi {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 0;
  }
}
.PhotoSimilaire {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 765px) {
  .PhotoSimilaire {
    flex-direction: column;
    align-items: center;
  }
}
.blockPhotoRelative {
  flex-shrink: 0;
  position: relative;
  width: 564px;
  height: 495px;
  margin-bottom: 10px;
}

@media screen and (min-width: 765px) and (max-width: 1140px) {
  .blockPhotoRelative {
    width: 370px;
  }
}
@media screen and (max-width: 765px) {
  .blockPhotoRelative {
    width: 318px;
    height: 279px;
  }
}
.blockPhotoRelative img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blockPhotoRelative .overlay:hover .eye-icon,
.blockPhotoRelative .overlay:hover .fullscreen-icon {
  display: block;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: opacity 0.3s, background-color 0.3s;
}

.overlay:hover {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.8);
}

.overlay:hover h2, .overlay:hover h3 {
  display: block;
}

.overlay h2 {
  position: absolute;
  left: 10px;
  top: 440px;
  color: white;
  font-family: Poppins Regular;
  font-size: 14px;
  display: none;
}

@media screen and (max-width: 765px) {
  .overlay h2 {
    top: 227px;
    font-size: 12px;
  }
}
.overlay h3 {
  position: absolute;
  left: 476px;
  top: 452px;
  color: white;
  text-transform: uppercase;
  font-family: Poppins Regular;
  font-size: 14px;
  display: none;
}

@media screen and (max-width: 765px) {
  .overlay h3 {
    left: 240px;
    top: 237px;
    font-size: 12px;
  }
}
@media screen and (min-width: 765px) and (max-width: 1140px) {
  .overlay h3 {
    left: 289px;
  }
}
.overlay .eye-icon {
  width: 46px;
  height: 31.2px;
  top: 231.4px;
  left: 255px;
  position: absolute;
  display: none;
}

@media screen and (max-width: 765px) {
  .overlay .eye-icon {
    top: 135px;
    left: 140px;
  }
}
@media screen and (min-width: 765px) and (max-width: 1140px) {
  .overlay .eye-icon {
    left: 175px;
  }
}
.overlay .fullscreen-icon {
  position: absolute;
  cursor: pointer;
  z-index: 3;
  width: 34px;
  height: 34px;
  top: 11px;
  left: 512px;
  border: 1px;
  display: none;
}

@media screen and (max-width: 765px) {
  .overlay .fullscreen-icon {
    top: 17px;
    left: 267px;
  }
}
@media screen and (min-width: 765px) and (max-width: 1140px) {
  .overlay .fullscreen-icon {
    left: 317px;
  }
}
.uppercase {
  text-transform: uppercase;
}

.navigationPhotos {
  width: 50%;
  height: 118px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 820px) {
  .navigationPhotos {
    display: none;
  }
}
.navigationArrow {
  width: 81px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;
  height: 118px;
}

.navigationArrow .arrow {
  width: 25px;
  height: auto;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.navigationArrow .arrow:hover + .miniPicture {
  display: flex !important;
}

.navigationArrow .arrow .arrow-left {
  top: 10px;
  position: relative;
}

.navigationArrow .arrow .arrow-right {
  top: 10px;
  position: relative;
}

.miniPicture-content {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.miniPicture, .miniPicture-left, .miniPicture-right {
  visibility: hidden;
  opacity: 0;
  position: relative;
  height: 71px;
  width: 81px;
  top: 8px;
  transition: visibility 0, 3s, opacity 0.3s linear;
}

.miniPicture a, .miniPicture-left a, .miniPicture-right a {
  display: block;
  width: 100%;
  height: 100%;
}

.miniPicture a img, .miniPicture-left a img, .miniPicture-right a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.arrow:hover + .miniPicture, .arrow:hover + .miniPicture-left, .arrow:hover + .miniPicture-right {
  visibility: visible;
  opacity: 1;
}

/* ------------------------------------------------------CSS DE LA LIGHTBOX------------------------------------------------------ */
.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8) !important;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lightboxFermeture {
  position: relative;
  top: -110px;
  right: -400px;
  color: #fff;
  font-family: SpaceMono Regular;
  font-size: 30px;
  font-weight: 400;
}
@media screen and (max-width: 811px) {
  .lightboxFermeture {
    right: -310px;
  }
}
@media screen and (max-width: 430px) {
  .lightboxFermeture {
    right: 0;
  }
}

.lightboxContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lightboxPrecedent {
  position: relative;
  top: 50%;
  left: -10%;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  cursor: pointer;
  color: #fff;
}
@media screen and (max-width: 811px) {
  .lightboxPrecedent {
    left: -5%;
  }
}
@media screen and (max-width: 430px) {
  .lightboxPrecedent {
    left: 20%;
    top: 120%;
  }
}

.lightboxImage {
  width: 564px;
  height: 495px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
@media screen and (max-width: 811px) {
  .lightboxImage {
    width: 451px;
    height: 396px;
  }
}
@media screen and (max-width: 430px) {
  .lightboxImage {
    width: auto;
    height: 247.5px;
  }
}

.lightboxInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: SpaceMono Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1em;
}

.lightboxSuivant {
  position: relative;
  top: 50%;
  right: -10%;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  cursor: pointer;
  color: #fff;
}
@media screen and (max-width: 811px) {
  .lightboxSuivant {
    right: -5%;
  }
}
@media screen and (max-width: 430px) {
  .lightboxSuivant {
    right: 20%;
    top: 120%;
  }
}/*# sourceMappingURL=theme.css.map */